.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  padding-right: 20px;
}
nav li a{
  text-decoration: none;
  color:#474747;
  ;
}

