* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.primary-color {
  color: #fd6e0a;
}
.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

.orange-btn {
  background-color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  height: 64px;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}
/* banner */
.banner {
  margin: 0px 0px 0px 200px;
  align-items: center;
  display: flex;
}
.banner-sub-title {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-discription {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
/* main */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about */
.about {
  text-align: center;
  margin-top: 130px;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}
.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
}
.section-description {
  color: #757575;
  font-size: 18;
  margin-bottom: 30px;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
}
.about .info-title{
  font-size: 20px;
  color: #757575;
  margin-top: 30px;
}
.info-description{
  font-weight: 700;
  font-size: 20px;
  color: #757575;
}